:root {
  /* Colors */
  --off-black: #20222b;
  --dark-blue: #333745;
  --blue: #3c4251;
  --light-blue: #464b5e;
  --off-white: #a5afd7;
  --purple: #8357c5;

  /* Spacing */
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;
  --desktop-breakpoint: 45rem;
}
