.option-list {
  border-bottom: 1px solid lighten(var(--light-blue), 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.option-list__item {
  list-style: none;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  word-break: break-all;
  margin-bottom: var(--m-size);
}
